<div class="col s12 offset-s4">
	<div class="row">
		<div class="col s6">
			&nbsp;
		</div>
		<div class="col s6 text-right">
			<a ng-click="vm.logout()">
				<i class="small material-icons" style="margin-top:10px;">settings_power</i>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="btn-group-vertical">
			<a ui-sref="game" class="waves-effect btn-flat btn red lighten-3">
				<i class="material-icons left">replay</i>
				Resume Game
			</a>
		</div>
		<div class="btn-group-vertical">
			<a ui-sref="leaderboard" class="waves-effect btn-flat btn red lighten-3">
				<i class="material-icons left">verified_user</i>
				Leaderboard
			</a>
		</div>
		<div class="collection">
			<h5 class="header">Online Players</h5>
			<a ui-sref="game" class="collection-item">
				<div>Rapheal<i class="material-icons secondary-content">grade</i></div>
			</a>
			<a ui-sref="#" class="collection-item">
				<div>Bikash<i class="material-icons secondary-content">grade</i></div>
			</a>
			<a ui-sref="#" class="collection-item">
				<div>Joe<i class="material-icons secondary-content">grade</i></div>
			</a>
		</div>
		<div class="collection">
			<h5 class="header">Saved Games</h5>
			<a ui-sref="game" class="collection-item">
				<div>Rapheal<i class="material-icons secondary-content">grade</i></div>
			</a>
		</div>
	</div>
</div>